# Build artifacts
/target
/crates/*/target
/crates/*/Cargo.lock
/desktop/src-tauri/gen/
node_modules

# IDE / editor configs
/.vscode/
/.zed/
/.gemini/
.claude
.serena/

# OS files
.DS_Store

# Dev tools
.bacon-locations
/perf.data*
/flamegraph.svg

# Fetched test data
/linux-torrents/
